/* Navbar component */
/* Header, logo y titulo */
.heading-1{
	font-family: 'Roboto', sans-serif;
}
.section-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex: 1;
	background-color: rgb(114, 186, 187);
}

.section-header__img-box {
	margin: auto;
	/* height: 4rem;  */
	/* background-color: hotpink; */
	display: flex;
	align-items: center;
	justify-content:center;
	
}


.heading-1{
	margin-top: 20px;
}

/* Header navbar */


.section-header__items {
	height: 7rem;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
}

.section-header__items:last-child {
	margin-right: 1.5rem;
}

.section-header__item {
	font-size: 1.8rem;
	padding: 0.5rem 1rem;
	height: 100%;
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s;
	
}

.section-header__item:hover {
	background-color: rgb(46, 127, 129);
}

.section-header__link,
.section-header__link:active {
	color: black;
	text-decoration: none;
}

/* Dropdown menu */
.section-header__item--submenu {
	position: relative;
}

.section-header__item--dropdown {
	padding: 1rem 1rem;
	border-radius: 0;
}

.section-header__items--dropwdown {
	display: flex;
	flex-direction: column;
	height: 20rem;
	position: absolute;
	top: 6.5rem;
	left: 0;
	display: none;
	background-color: rgb(46, 127, 129);
}

.section-header__item--submenu:hover > .section-header__items--dropwdown {
	display: flex;
}

/* Media query */
@media screen and (min-width: 310px) and (max-width: 500px){
	.section-header{
		width: 90%;
		height:auto ;
		flex-direction:column;
		justify-content:center;
		align-items:stretch;
		

	}
	.section-header__navbar {
		margin:auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.section-header__item{
		margin: 4%;
	}
	body{
		width: 100vw;
	}

	 .uno > p{
		width: 110%;
    	margin-right: 40px;
    	border:ridge;
    	background-size: cover;
    	text-align: justify;
    	word-wrap: break-word;
    	border-radius: 15px;
    	box-shadow: 0 10px 10px -6px black;
		padding: 15px;
		
	}
	
	.uno{
		width: 90%;
		height:auto ;
		flex-direction:column;
		justify-content:center;
		margin: auto;

	}
	.separador{
		margin-bottom: 10px;
	}
	#bio{
		margin-top: 10px;
		margin:auto;
		margin-left: 10px;
		
	}
	
	.section-header__item{	
		font-size: small;
		margin-left: 5px;
		overflow-wrap: normal;	
	}
	.section-header__link{
		width: 90%;
		height: auto;
		margin: 5%

	}
	
	
	.section-header__navbar {
		width: 50%;
		
		display: flex;
		align-items: center;
		justify-content:center;
		
		
	}
	.footer1{
		padding-right:20px;
		
	}
	.footer__link{
		visibility: hidden;
	}
}
@media screen and (min-width: 500px) and (max-width: 800px){
	.section-header{
		width: 90%;
		height:auto ;
		flex-direction:column;
		justify-content:center;
		align-items:stretch;
		

	}
	.section-header__navbar {
		margin:auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.section-header__item{
		margin: 10%;
	}
	.section-header__navbar {
		margin:auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	
	body{
		width: 100vw;
	}

	 .uno > p{
		width: 120%;
    	margin-right: 50px;
    	border:ridge;
    	background-size: cover;
    	text-align: justify;
    	word-wrap: break-word;
    	border-radius: 15px;
    	box-shadow: 0 10px 10px -6px black;
		padding: 15px;
		
	}
	
	.uno{
		width: 90%;
		height:auto ;
		flex-direction:row;
		justify-content:center;
		margin: auto;

	}
	.separador{
		margin-bottom: 10px;
	}
	#bio{
		margin-top: 10px;
		margin:auto;
		margin-left: 25%;
	}
	
	.section-header__item{
		
		font-size: small;

		margin-left: 5px;
		overflow-wrap: normal;
		
		
		
	}
	.section-header__link{
		width: 90%;
		height: auto;
		margin: 5%

	}
	
	
	.section-header__navbar {
		width: 50%;
		
		display: flex;
		align-items: center;
		justify-content:center;
		
		
	}
	.footer1{
		padding-right:20px;
		
	}
	
}


@media screen and (min-width: 800px) and (max-width: 1024px) {
	.section-header {
		display: flex;
		flex-direction:row;
		justify-content:center;
		align-items:stretch;
	}
	.section-header__img-box > img {
		margin-top: 5%;
		height: auto;
		width: 70%;
		
	}
	.uno > p {
		background-color: rgb(216, 205, 205); 
		width: 90%;
		margin-top: 20px;
		margin-left: 30px;
		border:ridge;
		background-size: cover;
		text-align: justify;
		word-wrap: break-word;
		border-radius: 15px;
		box-shadow: 0 10px 10px -6px black;
		padding: 15px;
		
		
	}
	.uno{
		width: 90%;
		height:auto ;
		flex-direction:row;
		justify-content:center;
		margin: auto;

	}
	.section-header__navbar {
		width: 100%;
		
		display: flex;
		align-items: center;
		justify-content:center;
		
		
	}
	.separador{
		margin-bottom: 10px;
	}
	#bio{
		margin-top: 10px;
		margin:auto;
		margin-left: 30%;
	}
	.section-header__item{
		
		height: auto;
		width: 100%;
	}
	.content_header{
		display: flex;
		flex-direction:column;
		justify-content:center;
		align-items: center;
		
	}
	.texto-ar{
		margin: 15px;
	}
	.box-text > p{
		margin: 15px;
	}
	.recuadro1{
		display: flex;
		flex-direction:column;
		justify-content:center;
		align-items: center;
	}
	
	
	
}
@media only screen and (max-width: 1024px){
	.section-header__img-box > img {
		
		height: auto;
		width: 100%;
		
	}
	body{
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: transparent;
		
	}
	.texto-ar{
		margin: 15px;
	}
	.box-text > p{
		margin: 15px;
	}

	.uno > p {
		background-color: rgb(216, 205, 205); 
		width: 90%;
		margin-top: 20px;
		margin-left: 30px;
		border:ridge;
		background-size: cover;
		text-align: justify;
		word-wrap: break-word;
		border-radius: 15px;
		box-shadow: 0 10px 10px -6px black;
		
		
	}
	.uno > p{
		margin: 15px;
	}
	.footer{
		padding-right:20px;
		
	}
	
}
@media screen and (min-width: 1025px) and (max-width: 3000px){
	.section-header__img{
		width: 100%;
		height: auto;
	}
	.section-header__navbar {
		width: 50%;
		
		display: flex;
		align-items: center;
		justify-content:center;
		
		
	}
	.separador{
		margin-bottom: 10px;
	}
	#bio{
	margin: auto;
		
		
	}
	.uno{
		display: flex;
		width: 70%;
		height:auto ;
		flex-direction:row;
		justify-content: center;
		margin: auto;

	}

	.uno > p {
		background-color: rgb(216, 205, 205); 
		width: 80%;
		border:ridge;
		background-size: cover;
		text-align: justify;
		word-wrap: break-word;
		border-radius: 15px;
		box-shadow: 0 10px 10px -6px black;
		max-width: 1050px;
		padding: 15px;
		
		
	}
	.uno > p{
		margin: 15px;
	}
	.html{
	min-height: 100%;
	position: relative;
	}
	.footer{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 40px;
	}
	.footer1{
		position: absolute;
		bottom: 50;
		width: 100%;
		height: 40px;
	}
}

