.header {
    width: 100vw;
    height: 15rem;
    display: flex;
}

.section-footer {
    width: 100vw;
    height: 12rem;
}
.main-article{
    background-color: grey;
}

.main-book{
    background-color: grey;

}
.main {
    background-image: url("../img/castillo-calatrava-viejo.jpg");
    background-size: cover;
}

