.header {
    width: 100vw;
    height: 15rem;
    display: flex;
}

/* .section-footer {
    width: 100vw;
    
} */
.main-article{
    background-color: silver;
}

.main-book{
    background-color: silver;
    

}


