/* Navbar component */
/* Header, logo y titulo */
.section-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex: 1;
	background-color: rgb(46, 127, 129);
	/* width: 100%;
    height: 15%;
    background-color: rgb(46, 127, 129);
    display: flex; */
	/* justify-content: center; */
}

.section-header__img-box {
	height: 15rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.section-header__img {
	width: 40%;
	margin-right: 4rem;
}

/* Header navbar */
.section-header__navbar {
	flex: 0 0 60%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.section-header__items {
	height: 7rem;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.section-header__items:last-child {
	margin-right: 1.5rem;
}

.section-header__item {
	padding: 0.5rem 1rem;
	height: 100%;
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s;
}

.section-header__item:hover {
	background-color: rgb(56, 155, 156, 0.8);
}

.section-header__link,
.section-header__link:active {
	color: black;
	text-decoration: none;
}

/* ul,
ol {
	list-style: none;
}

.nav li a {
	background-color: rgb(46, 44, 44);
	color: white;
	text-decoration: none;
	padding: 10px, 15px;
	display: block;
	margin: 15px;
} */
/* .nav > li {
	float: left;
}
.nav li a:hover {
	background-color: rgb(8, 8, 8);
} */

/* Esconder los submenus */
/* .nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
} */
/* Mostrar los submenus al pasar el ratón */
/* .nav li:hover > ul {
	display: block;
}
.nav li ul li {
	position: relative;
}
.nav li ul li ul {
	right: -140px;
	top: 0px;
} */

/* #header {
	margin-top: 4%;
	margin-left: 10%;
}

.nav {
	font-size: 1.2em;
} */

footer {
	background-color: black;
	width: 100%;
	height: 10%;
}

/* Media query */

@media only screen and (max-width: 50em) {
	.section-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.section-header__img-box {
		height: 5rem;
		width: 100%;
	}

	.section-header__img-box > h1 {
		font-size: 1.6rem;
		text-align: center;
	}
	.section-header__img-box > img {
		height: 5rem;
		width: 5rem;
	}

	.section-header__items {
		height: 4rem;
	}

	.section-header__navbar {
		flex: 0 0 40%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}
