
.dos{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    background-color: #fff; 
    width: 60%;
    height: 40%;
    margin-top: 100px;
    margin-left: 30%;
    border:ridge;
    background-size: cover;
    text-align: justify;
    
    
}
.uno{
    float: left;
    margin-top: 13%;
    margin-left: 10%;
}

div.tres{
   width: 80%;
   margin-left: 10%;
   
  
   
   /* background-color: #000000; */
   color: #fff;
    
}
div.tres img{
    max-width: 100%; 
}






    