
.dos{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff; 
    width: 60%;
    height: 40%;
    margin-top: 100px;
    margin-left: 30%;
    border:ridge;
    background-size: cover;
    text-align: justify;
    
    
}
.uno{
    float: left;
    margin-top: 15%;
    margin-left: 10%;
}







    